<div class="bands-container">
  <a href="/vicesinc" class="band">
    <img
      src="/images/vicesinc-logo.jpg"
      srcset="/images/vicesinc-logo@2x.jpg 2x"
      alt="Vices Inc Logo" />
  </a>
  <a href="/theargonred" class="band">
    <img
      src="/images/argon-red-logo.jpg"
      srcset="/images/argon-red-logo@2x.jpg 2x"
      alt="The Argon Red Logo" />
  </a>
  <a href="/thecuteasf" class="band">
    <img
      src="/images/TheCuteASF.jpg"
      srcset="/images/TheCuteASF@2x.jpg 2x"
      alt="The Cute ASF Logo" />
  </a>
  <div class="band">
    <img
      src="/images/essiex.jpg"
      srcset="/images/essiex@2x.jpg 2x"
      alt="Essie X Logo" />
  </div>
  <div class="band">
    <img
      src="/images/SynthSideProject.jpg"
      srcset="/images/SynthSideProject@2x.jpg 2x"
      alt="Synth Side Project Logo" />
  </div>
</div>