/* GLOBAL */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000101;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

p {
  line-height: 1.5;
}

a {
  color: #000101;
}

/* HEADER */

.header {
  position: relative;
}
@media (min-width: 900px) {
  .header {
    padding: 0;
  }
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-wrap {
  background-color: #000101;
}
@media (min-width: 900px) {
  .menu-wrap {
    position: relative;
    z-index: 10;
  }
  .menu-container {
    justify-content: space-between;
  }
}

.menu {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 16px;
}

@media (max-width: 899px) {
  .main-menu {
    display: none;
  }
}

.main-menu li {
  font-weight: bold;
  margin-right: 48px;
  text-transform: uppercase;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #f0f0f0;
  text-decoration: none;
  transition: opacity .3s ease;
}

.menu a:hover {
  opacity: .7;
}

.menu svg {
  width: 28px;
  height: auto;
  fill: currentColor;
}

.logo {
  display: block;
}

.logo svg {
  width: 40px;
  display: block;
}

.hero {
  height: auto;
  width: 100%;
}

.shr-logo {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
/* GENERIC SECTIONS */

.section-heading {
  font-size: 24px;
  padding-bottom: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.section-heading:after {
  bottom: 0;
  content: '';
  position: absolute;
  left: 50%;
  width: 40px;
  height: 2px;
  background-color: #000101;
  margin-left: -20px;
}
@media (min-width: 900px) {
  .section-heading {
    font-size: 32px;
  }
}

/* BANDS */

.bands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.band {
  max-width: 300px;
  margin: 0 16px 16px;
}

/* BAND DETAILS */
.band-details-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0;
}

@media (min-width: 900px) {
  .band-details-container {
    align-content: center;
    display: flex;
    justify-content: center;
  }
}

.band-details-img {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

@media (min-width: 900px) {
  .band-details-img {
    margin: 0 40px 0 0;
    min-width: 300px;
  }
}

.band-details-copy {
  display: flex;
}

/* FOOTER */

.footer {
  margin-top: 20px;
  padding: 16px;
  text-align: center;
}

.footer .menu {
  justify-content: center;
}

.footer-copyright {
  font-size: 12px;
  margin-top: 30px;
}