{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="container">
  <h1 class="section-heading">{{ .Title }}</h1>
  <div class="band-details-container">
    <div class="band-details-img">
      <img
        src="/images/tar.jpg"
        srcset="/images/tar@2x.jpg 2x"
        alt="The Argon Red group photo" />
    </div>
    <div class="band-details-copy">
      <p>The Argon Red are an Alternative/Indie Rock band based out of Portland, Maine since 2015. The oldest act on the Southie Heights Record roster and the first, with multiple releases since 2017.</p>
    </div>
  </div>
</section>
{{ end }}