{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="container">
  <h1 class="section-heading">{{ .Title }}</h1>
  <div class="band-details-container">
    <a href="https://thecuteasf.com" target="_blank" class="band-details-img">
      <img
        src="/images/tcasfphoto.jpg"
        srcset="/images/tcasfphoto@2x.jpg 2x"
        alt="The Cute ASF group photo" />
    </a>
    <div class="band-details-copy">
      <p>The Cute ASF are an Dance Pop/Hip Hop group based out of Biddeford, Maine. With their unique vocal approach and their catchy melodies there is something for everyone to enjoy. Stay turned for their debut release in 2023.</p>
      <p><a class="learn-more-button" href="https://thecuteasf.com" target="_blank">Learn More</a></p>
    </div>
  </div>
</section>
{{ end }}