{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="container">
  <h1 class="section-heading">{{ .Title }}</h1>
  <div class="band-details-container">
    <div class="band-details-img">
      <img
        src="/images/vicesincphoto.jpg"
        srcset="/images/vicesincphoto@2x.jpg 2x"
        alt="Vices Inc Group Photo" />
    </div>
    <div class="band-details-copy">
      <p>Vices Inc is a female fronted Pop Punk/Alternative Rock/Dance Pop band based out of Portland, Maine since 2019. With multiple singles, albums, and e.p.'s releases each year since.</p>
    </div>
  </div>
</section>
{{ end }}